.field.nested-fields
  = f.select :member_id, options_for_select([['—', nil]] + Member.all.order('name').map{|m| [m.name, m.id]}, f.object.event_id)
  = link_to_remove_association '削除', f, class: 'btn btn-default'
